body {
    margin: 0;
    background-color: #eeeeee;
    font-family: Montserrat 'sans-serif';
}


/* Global  */
 
p {
    font-size: 19px;
    font-family: poppins;
	 
}

.sp-color {
     color: gold;
}



/*  Global */

/* ----------- banner sectio -------------- */

.banner-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 100px 50px 120px;
}

.banner-page img {
    margin-bottom: 150px;
    width: 450px;
}

.banner-position {
    margin-top: 80px;
}

 .banner-page > h1 {
    display: block;
    font-size: 70px;
    font-weight: 1000;
    font-family: Montserrat 'sans-serif';
    border-left-style: solid;
    border-left-color: red;
    text-align: start;
    border-radius: 2px;
    padding-left: 10px;
}

.btn {
    padding: 15px 25px;
    background-color:#4c2d868c;
    border: none;
    border-radius: 7px;
}

button a {
    text-decoration: none;
    font-size: 18px;
    font-family: poppins 'sans-serif';
    color: white;
}
.banner-page small {
    display: inline-block;
    margin-top: 50px;
    font-size: 21px;
    color:gray;
  
}

  /* 
  ==========================
  media Query banner section
  ==========================
  */
   
  @media only screen and (max-width: 600px) {
   
    .banner-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px 10px 20px 20px;

    }

    .banner-page > h1 {
        font-size: 50px;
        text-align: center;
    }

    .banner-section p {
        text-align: justify;
        margin-left: 10px 50px;
        font-size: 17px;
    }
   




  }


/* ------x----- banner sectio --------x------ */



/* ------x----- Mission sectio --------x------ */

.mission-flex {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 80px;
    
}
section h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.container {
   margin: 20px 10px; 
   padding: 10px 15px;
   border-radius: 15px;

}

.container p {
    font-size: 17px;
}

.bg-1 {
    background-color: rgba(142, 202, 230, 0.3);
}

.bg-2 {
    background-color: rgba(255, 10, 84, 0.1)
}
.bg-3 {
   background-color: rgba(254, 250, 224, 1);
}

.container img {
    width: 150px;
}



  /* 
  ==========================
  media Query Mission sectionc
  ==========================
  */


  @media only screen and (max-width: 600px) { 
   
    .mission-flex {
        display: flex;
        flex-direction: column;
    }
    
  }




/* ------x----- mission sectio --------x------ */


/* ----------- develop sectio -------------- */

.develop {
    display: flex;
    justify-content: center;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 10% 50%;
    margin: 80px 0px;
}

.container-2 h1 {
   text-align: start;
   
}
.text-position {
    margin-right: 180px;
    margin-left: 20px;
}

.container-2 img {
    width: 350px;
    margin-left: 200px;
}



  /* 
  ==========================
  media Query Mission section
  ==========================
  */


  @media only screen and (max-width: 600px) { 
   
    .develop {
        display: flex;
        flex-direction: column-reverse;
        background-position: 100% 65%;
    }

    .container-2 img {
        margin-left: 60px;
    }
    .text-position {
        margin: 60px;
    }
  

  }





/* ------x----- develop sectio --------x------ */



/* ---------------- Community sectio -------------- */


.commiunity {
    display: flex;
    margin: 50px 80px;
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 100% 100%;
}

.container-3 {
    margin: 60px;
   
}
.container-3 h1{
    text-align: start;
} 

.container-3 img {
    width: 350px;
}



  /* 
  ==========================
  media Query Commiunity section
  ==========================
  */



  
  @media only screen and (max-width: 600px) { 
   
.commiunity{
        display: flex;
        flex-direction: column;
        background-position: 100% 100%;
    }

    .container-3 {
        margin: 20px;
    }

    .container-3 img {
        margin-left: -40px;
    }

  
  

  }


   



/* ------x----------- Community sectio --------x------ */



/* --------------form section---------- */

.join-me {
    width: 500px;
    margin: 100px auto;
    background-image: url(./images/shapes/shape-2.png);
    background-repeat: no-repeat;
   background-position: -10px 20px;

   
}

form {
    width: 100%;
    margin: 50px 100px;
     
}

.text {
    font-size: 25px;
   text-align: center;
    font-family: poppins;
    font-weight: 600;
    margin: 10px 0;
    
}
.form-division {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 6px 7px #d0dce7;
}

.form-division:hover {
    transform: translateY(-10px);
}

.input {
    font-size: 22px;
    /* border: none; */
    /* margin: 5px 50px; */
    padding: 5px;
  
}

.form-btn {
    margin:15px;
    background-color: #ff99ac;

}



/* 
  ==========================
  media Query Mission section
  ==========================
  */


  @media only screen and (max-width: 600px) { 


    .join-me {
        background-image: none;
    }
     
    .form-division {
        margin: 50px;
    }

    form {
        margin: 25px 40px;
    }
    
    
  }

/* --------------form section---------- */


/* --------footer--------- */


footer {
    background-color: black;
    color: white;
    height: 200px;
    margin-top: 50px;
    padding-top: 50px;
    
}

.message{
 
    text-align: center;
}

.message h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: moon dance;
}
.message p {
    font-size: 18px;
    color: gray;
}




  /* 
  ==========================
  media Query Mission sectionc
  ==========================
  */


  @media only screen and (max-width: 600px) { 
   
 footer{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    
  }



/* -----x---footer------x--- */
