body {
    margin: 0;
    background-color: #eeeeee;
    font-family: Montserrat 'sans-serif';
}


/* Global  */
 
p {
    font-size: 19px;
    font-family: poppins;
	 
}

.sp-color {
     color: gold;
}



/*  Global */

/* ----------- banner sectio -------------- */

.banner-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 100px 50px 120px;
}

.banner-page img {
    margin-bottom: 150px;
    width: 450px;
}

.banner-position {
    margin-top: 80px;
}

 .banner-page > h1 {
    display: block;
    font-size: 70px;
    font-weight: 1000;
    font-family: Montserrat 'sans-serif';
    border-left-style: solid;
    border-left-color: red;
    text-align: start;
    border-radius: 2px;
    padding-left: 10px;
}

.btn {
    padding: 15px 25px;
    background-color:#4c2d868c;
    border: none;
    border-radius: 7px;
}

button a {
    text-decoration: none;
    font-size: 18px;
    font-family: poppins 'sans-serif';
    color: white;
}
.banner-page small {
    display: inline-block;
    margin-top: 50px;
    font-size: 21px;
    color:gray;
  
}

/* ------x----- banner sectio --------x------ */



/* ------x----- Mission sectio --------x------ */

.mission-flex {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 80px;
    
}
section h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.container {
   margin: 20px 10px; 
   padding: 10px 15px;
   border-radius: 15px;

}

.container p {
    font-size: 17px;
}

.bg-1 {
    background-color: rgba(142, 202, 230, 0.3);
}

.bg-2 {
    background-color: rgba(255, 10, 84, 0.1)
}
.bg-3 {
   background-color: rgba(254, 250, 224, 1);
}

.container img {
    width: 150px;
}

/* ------x----- mission sectio --------x------ */


/* ----------- develop sectio -------------- */

.develop {
    display: flex;
    justify-content: center;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 10% 50%;
    margin: 80px 0px;
}

.container-2 h1 {
   text-align: start;
   
}
.text-position {
    margin-right: 180px;
    margin-left: 20px;
}

.container-2 img {
    width: 350px;
    margin-left: 200px;
}




/* ------x----- develop sectio --------x------ */



/* ---------------- Community sectio -------------- */


.commiunity {
    display: flex;
    margin: 50px 80px;
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 100% 100%;
}

.container-3 {
    margin: 60px;
   
}
.container-3 h1{
    text-align: start;
} 

.container-3 img {
    width: 350px;
}



/* ------x----------- Community sectio --------x------ */



/* --------------form section---------- */

.join-me {
    width: 500px;
    margin: 100px auto;
    background-image: url(./images/shapes/shape-2.png);
    background-repeat: no-repeat;
   background-position: -10px 20px;

   
}

form {
    width: 100%;
    margin: 50px 100px;
   
      
}

.text {
    font-size: 25px;
   text-align: center;
    font-family: poppins;
    font-weight: 600;
    margin: 10px 0;
    
}
.form-division {
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 6px 7px #d0dce7;
}

.form-division:hover {
    transform: translateY(-10px);
}

.input {
    font-size: 22px;
    /* border: none; */
    /* margin: 5px 50px; */
    padding: 5px;
  
}

.form-btn {
    margin:15px;
    background-color: #ff99ac;

}

/* --------------form section---------- */


/* --------footer--------- */


footer {
    background-color: black;
    color: white;
    height: 200px;
    margin-top: 50px;
    padding-top: 50px;
    
}

.message{
 
    text-align: center;
}

.message h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: moon dance;
}
.message p {
    font-size: 18px;
    color: gray;
}


/* -----x---footer------x--- */
